@font-face {
  font-family: 'BrandonGrotesque';
  src: url('./fonts/Brandon_thin.otf');
}


body{
    background-color: black;
    font-family: "BrandonGrotesque";
    color:white;
}

.wrapper{
    background-image: url("../images/1Suiting/image4.jpg");

}



.process-header{
    background-image: url("../images/3PROCESS/image6.JPG");

}


.navBar > ul {
    display: flex;
    justify-content: center;


    
    > li {
        list-style: none;
        justify-content: center;
        padding: 25px;
        font-size: 20px;
    }

}

// This stupid dropdown will not co-operate!!!

// .dropdown {
//     list-style: none;
//     border: 1px solid transparent;
// }

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
// Change logo size 
}


//inside the drowndown menu make the background color grey
// .inside-drop .items{
//     border-color: red
//     }

.cust{
    list-style: none;
}
.comp{
    list-style: none;
}
.social{
    list-style: none;
}
.social{
    list-style: none;
}






