<footer class="main-footer">
    <div class="upper-footer">
        <div class="footer-linklist">
            <h4 class="footer-title">CUSTOMER ASSISTANCE</h4>
            <ul class="cust">
                <li><a href="">Contact</a></li>
                <li><a href="">Shipping & Returns</a></li>
                <li><a href="">Personal Styling</a></li>
            </ul>
        </div>

<!--///////////////////////////////////////////////////////////////////////////-->


<!--COMPANY INFORMATION SECTION-->
        <div class="footer-linklist" style="background: green">
            <h4 class="footer-title">COMPANY INFORMATION</h4>
            <ul class="comp">
                <li><a class="" href="">History</a></li>
                <li><a class="" href="">Philosophy</a></li>
                <li><a class="" href="">Press Inquiries</a></li>
            </ul>
        </div>
<!--COMPANY INFORMATION SECTION-->


<!--///////////////////////////////////////////////////////////////////////////-->


<!--JOIN THE NEWSLETTER SECTION-->
        <div class="footer-linklist" style= "background: orange">
            <h4 class="footer-title">JOIN THE NEWSLETTER</h4>
                
<!--MAILING LIST BOX-->
            <form>
                <input class="email" placeholder="your@email.com">
                <div class="mail-submit">
                    <input class="submit" type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </div>


<!--JOIN THE NEWSLETTER SECTION-->
<!--///////////////////////////////////////////////////////////////////////////-->

<!--SOCIAL BUTTONS-->

<!--resize icons-->


<div class= "social-buttons">
    <ul class="social">
        <li class="twitter"><img src="/images/icons/twitter.png" style="background: black"><a href="http://www.twitter.com"></a></li>
        <li class="facebook"><img src="/images/icons/facebook.png" style="background: black"><a href="http://www.facebook.com/"></a></li>
        <li class="instagram"><img src="/images/icons/instagram.png" style="background: black"><a href="http://www.instagram.com/"></a></li>
        <li class="tumblr"><img src="/images/icons/tumblr.png" style="background: black"><a href="http://www.tumblr.com"></a></li>
    </ul>
</div>
<!--SOCIAL BUTTONS-->

<!--///////////////////////////////////////////////////////////////////////////-->

<!--COPYRIGHT-->
    <div class="bottom-footer">
        <div class="copyright-wrapper">
            <p class="copyright">Copyright &copy; 2017 JMueser.com.</p>
        </div>
    </div>
<!--COPYRIGHT-->

</footer>


