<footer class="main-footer">
    <div class="upper-footer">
        <div class="footer-linklist">
            <h4 class="footer-title">CUSTOMER ASSISTANCE</h4>
            <ul class="cust">
                <li><a href="">Contact</a></li>
                <li><a href="">Shipping & Returns</a></li>
                <li><a href="">Personal Styling</a></li>
            </ul>
        </div>

<!--///////////////////////////////////////////////////////////////////////////-->


<!--COMPANY INFORMATION SECTION-->
        <div class="footer-linklist">
            <h4 class="footer-title">COMPANY INFORMATION</h4>
            <ul class="comp">
                <li><a class="" href="">History</a></li>
                <li><a class="" href="">Philosophy</a></li>
                <li><a class="" href="">Press Inquiries</a></li>
            </ul>
        </div>
<!--COMPANY INFORMATION SECTION-->


<!--///////////////////////////////////////////////////////////////////////////-->


<!--JOIN THE NEWSLETTER SECTION-->
        <div class="mailing-list">
            <h4 class="footer-title">JOIN THE NEWSLETTER</h4>
            <form>
                
<!--MAILING LIST BOX-->
                <input class="email" placeholder="your@email.com">
                <div class="mail-submit">
                    <input class="submit" type="submit" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
<!--JOIN THE NEWSLETTER SECTION-->


<!--///////////////////////////////////////////////////////////////////////////-->


<!--SOCIAL BUTTONS-->
    <ul class="social">
        <li class="twitter"><a href="http://www.twitter.com">t</a></li>
        <li class="facebook"><a href="http://www.facebook.com/">f</a></li>
        <li class="instagram"><a href="http://www.instagram.com/">i</a></li>
        <li class="tumblr"><a href="http://www.tumblr.com">T</a></li>
    </ul>
<!--SOCIAL BUTTONS-->


<!--///////////////////////////////////////////////////////////////////////////-->


<!--COPYRIGHT-->
    <div class="bottom-footer">
        <div class="copyright-wrapper">
            <p class="copyright">Copyright &copy; 2017 JMueser.com.</p>
        </div>
    </div>
<!--COPYRIGHT-->

</footer>