

<div class = "logo">
    <img src = " ./images/logo/logo.png" >
</div>

<div class="navBar">




    <ul>
        <li>   SUITING   </li>
        <li>   SHIRTING  </li>
        <li>   PROCESS   </li>

    <li class="dropdown" ng-mouseover="dropdown = true" ng-mouseleave="dropdown=false">SHOP

    <ul class="dropdown" ng-show="dropdown">

            <li>Shirts</li>
            <li>Classic Ties</li>
            <li>Knit Ties</li>
            <li>Bow Ties</li>
            <li>Scarves</li>
            <li>Pocket Squares</li>
            <li>Socks</li>
    </ul>
    </li>

        <li>   LOOKBOOK  </li>
        <li>   PRESS     </li>
        <li>   INQUIRE   </li>
    </ul>
    




</div>


