<div class="wrapper">


<div class = "logo">
    <img src = "./images/logo/logo.png">
</div>

<div class="navBar">

<a ui-sref="home"></a>
<!--nav-bar tabs need to be styled white-->
<!--SHOP dropdown isnt right when hover-->

    <ul class="nav-menu">
        <li><a ui-sref="suiting">SUITING</a></li>
        <li><a ui-sref="shirting">SHIRTING</a></li>
        <li><a ui-sref="process">PROCESS</a></li>

    <li class="droplist" ng-mouseover="dropdown = true" ng-mouseleave="dropdown=false">SHOP

<!--<div class= "shopdropbox">-->
    <ul class="dropdown" ng-show="dropdown">
            <li>Shirts</li>
            <li>Classic Ties</li>
            <li>Knit Ties</li>
            <li>Bow Ties</li>
            <li>Scarves</li>
            <li>Pocket Squares</li>
            <li>Socks</li>
    </ul>
    </li>
<!--</div>-->

        <li><a ui-sref="lookbook">LOOKBOOK</a></li>
        <li><a ui-sref="press">PRESS</a></li>
        <li><a ui-sref="inquire">INQUIRE</a></li>
    </ul>





</div>


</div>
