<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/home.scss" rel="stylesheet">

    </head>
    <body>

<div class="welcome">
   “J. Mueser suiting is crafted by master tailors from the world’s finest fabrics. We scour each country we visit, collecting its most exquisite cloths: English wool, Scottish tweeds, Italian velvet and hundreds more. The world is our field, quality our compass. We measure with precision to ensure an ideal fit, both physically and stylistically.” 
</div>



    
    </body>
</html>