<div class="suiting-view">
    
<h1 class="suiting-title">SUITING</h1>

<div class= "main-content">
    <div class= "img-box">
        
        <div class="img-card">
            <div class="img-sizer">
                <img class="img1" src="./images/1SUITING/image1.jpg">
            </div>
            
            <div class="imgblurb"><p>A bespoke suit is our most luxurious offering, made entirely in our studio by the hands of one master tailor over the course of nine weeks.</p></div>
</div>


        <div class="img-card">
            <div class=img-sizer>
                <!--<img class="img2" src="./images/1SUITING/image2.jpg">-->
            </div>
                <div class="blurb-title">CUSTOM SUITING</div>
                    
                <div class="imgblurb"><p>A made to measure suit is a simpler and quicker option, cut at a high-tech factory over the course of five weeks.</p></div>
</div>




<div class="img-card">
            <div class=img-sizer>
                <img class="img3" src="./images/1SUITING/image3.jpg">
            </div>
            <div class="blurb-title">READY TO WEAR</div>
            <div class="imgblurb"><p>Our ready-to-wear collections represent our most beloved suiting discoveries.</p></div>
        </div>



    </div>
</div>
</div>

